{% extends "admin/layoutadmin.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Bienvenue sur la liste des utilisateurs</h1>
    <ul>
        {% for user in users %}
            <li>
            Pseudo : {{ user.username }} 
            Prénom : {{ user.firstname }} 
            Nom : {{ user.lastname }} 
            <a href="{{ path('user_details', { id : user.id }) }}">Details</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}