{% extends "layout.html.twig" %}



{% block body %}

    <section class="clearfix pageTitleSection bg-image" style="background-image: url({{ asset('img/background/activityback.png') }}" alt="Origin country"  >
        <div class="container">
            <div class="row">
                <div class="col-xs-12"></div>
            </div>        	
            <br>
        </div>
        <br>	
    </section>

    <div class="pageTitle">
        <h2>Add an Activity</h2>
    </div>




    {% use "bootstrap_4_layout.html.twig" %}

    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>


    <div id="map"></div>

    {{form_start (form) }}    {# debut du formulaire #}
    {{form_widget (form) }}   {# contenu du formulaire #} 
    {{form_end (form) }}      {# fin du formulaire #}

    <script>

        var geocoder;
        var map;
        googlePush(function () {
            var uluru = {lat: -25.363, lng: 131.044};
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: uluru
                
                   
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
               
            });
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
                zoom: 12,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            document.getElementById('form_activity_locate').addEventListener('click', function (e) {
                e.preventDefault();
                codeAddress();
            });
        });

        function codeAddress() {
            var address = document.getElementById('form_activity_address').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    document.getElementById('form_activity_longitude').value = results[0].geometry.location.lng();
                    document.getElementById('form_activity_latitude').value = results[0].geometry.location.lat();
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });

        }


       


    </script>




{% endblock %}



