{% extends "layoutadmin.html.twig" %}

{% block body %}

   <h1>Liste d'avis</h1>


   <ul>

       {% for advice in advices %}

           <li>

               {{ advice}}

           </li>

       {% endfor %}

   </ul>

{% endblock %}