{% extends "layouthome.html.twig" %}

{% block body %}

<section class="clearfix p0">
<body id="body" class="body-wrapper boxed-menu" >
	<div id="map-canvas" style="position: relative; overflow: hidden;"></div>
        
        

</body>
</section>
{% endblock %}