{% extends "layout.html.twig" %}

{% block body %}
    <h1>INSCRIPTION</h1>
    <p>Bienvenue sur la page d'inscription</p>
    
    {% use "bootstrap_4_layout.html.twig" %}
  
  
  {{form_start (form) }}    {# debut du formulaire #}
  {{form_widget (form) }}   {# contenu du formulaire #}
  {{form_end (form) }}      {# fin du formulaire #}
{% endblock %}